/*FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Variaveis Globais*/
:root {
    --cor-primaria: #394032 ;
    --cor-primaria-escura: #1E2019 ;
    --cor-bg: #8DAB7F;
    --cor-branco: #fefaf1 ;
    --cor-borda: #CFEE9E;
    --cor-sombra: rgba();
    --cor-texto: ;

    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;
}

/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body{
    font-family: var(--fonte);
    background: #394032;
    background: linear-gradient(90deg, rgba(57, 64, 50, 1) 0%, rgba(141, 171, 127, 1) 50%, rgba(207, 238, 158, 1) 100%);
}